{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
<h2>Все расходы</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Сумма</th>
            <th>Категория</th>
            <th>Комментарии</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        {% if transactions %}
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.author }}</td>
            <td>{{ transaction.sum }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.comment }}</td>
            <td>{{ transaction.dateTime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Нет данных</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}