{% extends 'base.html' %}
{% block title %}Add Transaction{% endblock %}

{% block content %}
<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #007bff;
    }

    .form-container .form-control {
        width: 100%;
        margin-bottom: 15px;
    }

    .form-container label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .form-container button:hover {
        background-color: #0056b3;
    }
</style>
<div class="form-container">
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.author.label }}
        {{ form.author(class="form-control") }}
    </div>
    <div>
        {{ form.sum.label }}
        {{ form.sum(class="form-control") }}
    </div>
    <div>
        {{ form.category.label }}
        {{ form.category(class="form-control") }}
    </div>
    <div>
        {{ form.comment.label }}
        {{ form.comment(class="form-control") }}
    </div>
    <div>
        {{ form.dateTime.label }}
        {{ form.dateTime(class="form-control", type="datetime-local")}}
    </div>
    <div>
        {{ form.submit(class="btn-btn-primary") }}
    </div>
</form>
</div>

{% endblock %}